<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Terminal and Button</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        #terminal {
            max-width: 800px;
        }

        button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>

    <script>
        var term = new Terminal({
            theme: {
                background: "../assets/images/background/enigma_machine.webp",
            },
            cursorBlink: true,
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>
</html>